/.DS_Store
/Anaconda-Navigator.app
/bin
/cmake
/conda-meta
/condabin
/doc
/envs
/etc
/include
/lib
/libexec
/man
/mkspecs
/mysql
/mysql-test
/phrasebooks
/pkgs
/plugins
/pyodbc.pyi
/python.app
/qml
/resources
/sbin
/share
/shell
/ssl
/translations